services:
  db:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend
    restart: always # Em desenvolvimento, pode ser 'unless-stopped' ou remover se atrapalhar logs de erro
    ports:
      - '3001:3000'
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/postgres?schema=public"
    depends_on:
      - db
    volumes:
      - ./backend:/app          # Espelha sua pasta local backend para dentro do container
      - /app/node_modules       # Volume anônimo: Mantém o node_modules do container, ignorando o local

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - '3000:3000'
    environment:
      NEXT_PUBLIC_API_URL: "http://localhost:3001"
    volumes:
      - ./frontend:/app         # Espelha sua pasta local frontend para dentro do container
      - /app/node_modules       # Volume anônimo: Protege as dependências instaladas no container
      - ./frontend/.next:/app/.next # Opcional: Persiste o cache de build do Next para ser mais rápido
    depends_on:
      - backend

volumes:
  postgres_data: